<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Candidate Update Job</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/javascript"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">GraduateJobs</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
							
					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="logout.htm" class="btn btn-info" role="button">Logout</a></li>

					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
		<div class="row">
			<form action="$candidate_update_profile_url"  method="post"
				class="form-signin" modelAttribute="updateCandidate">
				<input type="hidden" value="$updateCandidate.id" id="id"
							name="name">
				#springBind("updateName.id")
				<h2 class="form-signin-heading">Edit a Job</h2>
				<div class="col-md-6">
					<div class="form-group">
						<label for="title">Name</label>
						<input  type="text" class="form-control" id="name"
							name="name" value = "$updateName.name" placeholder="" style="width:400px" required/>
						#springBind("updateName.name")
						#springShowErrors("<br>" "")<br>
					</div>
					
					<div class="form-group">
						<label for="description">University Name</label>
						<input type="text" class="form-control" id="univName"
							name="univName" value="$updateCandidate.univName"
						placeholder="" style="width:400px" required/>
						#springBind("updateCandidate.univName")
						#springShowErrors("<br>" "")<br>
					</div>
					
					<div class="form-group">
						<label for="description">Email</label>
						<input type="text" class="form-control" id="email"
							name="email" value="$updateCandidate.email"
						placeholder="" style="width:400px" required/>
						#springBind("updateCandidate.email")
						#springShowErrors("<br>" "")<br>
					</div>
					
					<div class="form-group">
						<label for="description">LinkedIn</label>
						<input type="text" class="form-control" id="linkedInUrl"
							name="linkedInUrl" value="$updateCandidate.linkedInUrl"
						placeholder="" style="width:400px" required/>
						#springBind("updateCandidate.linkedInUrl")
						#springShowErrors("<br>" "")<br>
					</div>

					<div class="form-group">
						<label for="description">Degree</label>
						<input type="text" class="form-control" id="degree"
							name="degree" value="$updateCandidate.degree"
						placeholder="" style="width:400px" required/>
						#springBind("updateCandidate.degree")
						#springShowErrors("<br>" "")<br>
					</div>				
					
					<button class="btn btn-md btn-success" type="submit">Update Profile</button>
				</div>
			</form>
  <br>
		</div>
	</div>
	<!-- /container -->


</body>
</html>