<!DOCTYPE html>
<html lang="en">
<head>
  <title>Graduate Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 640px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.htm">GraduateJobs</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="about.vm">About</a></li>
        <li><a href="contact.vm">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.vm"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="registration.htm"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="https://www.glassdoor.co.uk/index.htm">Glassdoor</a></p>
      <p>Glassdoor is the worldwide leader on insights about jobs and companies.
      	 Millions of people are searching for jobs, salary information, company reviews, and interview questions. See what others are looking for on Glassdoor today.</p>
      <p><a href="https://gradireland.com/">Gradireland</a></p>
      <p>gradireland is a partnership between the Association of Higher Education Career Services (AHECS) and Group GTI, the world’s largest graduate careers publishing company.
      	 This partnership ensures the credibility and accuracy of all gradireland products and services as well as the support and promotion of these products and services to students and graduates nationwide through their career services. gradireland’s products and services engage with students and graduates through publications, digital content and events.</p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome to GraduateJobs</h1>
      <h3></h3>
      <hr>
      <h3>GraduateJobs is a platform were both employers and graduates can connect. Specifically designed with Graduates in mind, 
      this platform can allow for a smooth recruiting process between graduates and employers.</h3>
    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>GraduateJobs 2021</p>
</footer>

</body>
</html>
