<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register User Form</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/javascript"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	
	<script type="text/javascript">
     

$("document").ready(function() { 
$(".candidate").hide();

    $("select").change(function(){
        
        var thisValue = $(this).val();
        if (thisValue == "candidate")
        $(".candidate").show();
        if (thisValue == "employer")
        $(".candidate").hide();
    });
});


</script>

  <style>

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 640px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">GraduateJobs</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="about.vm">About</a></li>
        <li><a href="contact.vm">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.vm"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="registration.htm"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
    </div>
    

			<div class="col-md-4">
				<form action="$registration_url" modelAttribute="$registration" method="post">


<div class="col-md-6">
				Select your Role:
				<div class="form-group">
						<label for="role">Register as : </label>
						<select class="form-control" id="role" class="chooseOption" name="role" style="width: 400px;" required>
							<option value="employer">Employer</option>
							<option value="candidate">Graduate</option>
						</select>
					</div> 
				
					<div class="input-group">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<input  class="form-control" name="name"
							placeholder="Name" size="100" >
						
					</div>

					<div class="input-group">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<input class="form-control" name="email"
							placeholder="Email Address" size="100" >
					</div>

					<div class="input-group candidate">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<input class="form-control" name="degree"
							placeholder="Degree" size="50">
					</div>

					<div class="input-group candidate">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<input class="form-control" name="univName"
							placeholder="University name" size="100" >
					</div>
					
					<div class="input-group ">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<input class="form-control" name="username"
							placeholder="Username" size="100" >
					</div>
					
					<div class="input-group">
						<span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
						<input type="password" name="password" class="form-control"
							placeholder="Password" size="100" />
					</div>
					
					<div class="input-group">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<input class="form-control" name="linkedInUrl"
							placeholder="LinkedIn URL" size="100" >
					</div>
					
					<br>

					<div class="input-group">
						<input type="submit" class="btn btn-info" href="login.htm" value="Register">
					</div>

				</form>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
 </div>
</footer>
</body>
</html>


